.sidebar-container{
    width: 100vw;
    height: 70px;
    border: 1px solid black;
}

.center-nav{
    display: flex;
    align-items: center;
    height: 70px;
    
    
}


ul{
    list-style: none;
    font-weight: bold;
    cursor: pointer;

}
li{
    font-weight: bold;
}

.img-fluid{
    margin-top: 15px;
}


.login-register{
    position: relative;
    left: 610px;
}


.btn-snap{
     border:1px solid whitesmoke;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    padding: 0.6rem;
    cursor: pointer;
}
.btn-snap-login:hover {
    border-radius: 10px;
    border: 1px solid black;
}

.more{
    width: 130px;
    height:45px;
    border: 1px solid black;
    border-radius: 10px;
}

.more:hover{
    border-radius: 10px;
    background-color: black;
    color: white;

}

.p-0{
padding: 0px !important;
}



